<div class="quienes-somos-container">
  <div class="contenido">
    <h2>¿Qué es el CORESEC?</h2>
    <p>
      El CORESEC es un órgano técnico normativo que formula las políticas sobre
      seguridad ciudadana en el ámbito de su competencia territorial, de acuerdo
      a la política nacional de seguridad ciudadana.
    </p>
  </div>
  <div class="imagen">
    <!-- <img src="/images/login.jpg" alt="Imagen decorativa" class="img-fluid rounded shadow" /> -->
    <img src="/images/coresec-callao-quienes-somos.png" alt="CORESEC" />
  </div>
</div>




Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat placeat facere quibusdam nemo, eveniet ipsum. Iure ullam voluptatum illum, inventore totam atque suscipit distinctio obcaecati fuga in mollitia deleniti beatae.
Dolore quibusdam cum quos possimus, odio eius maiores vitae quia ipsa consequuntur placeat, voluptate asperiores. Dolor id nesciunt velit, a optio perspiciatis pariatur quis, consequuntur minima fuga dolore totam? Ea?
Culpa dolorum, provident ut repudiandae quibusdam repellat minus harum soluta animi inventore molestias reprehenderit quia quasi, veritatis architecto. Ipsum repellat esse cum asperiores cumque optio aspernatur quos eligendi autem sit!
Beatae harum consequatur, accusamus magnam cum laudantium officiis similique? Quod veniam illo beatae voluptas totam commodi blanditiis ducimus. Dolores deleniti non repellat labore. Laudantium distinctio id pariatur ducimus cupiditate nobis.
Quam repellat vitae labore! Reiciendis, delectus rerum. Laborum a dolorum quo quis numquam architecto tempore fugiat consequuntur suscipit cupiditate eos iste blanditiis, consequatur, dolor deleniti deserunt atque amet doloribus voluptatibus?
Esse reprehenderit totam cumque impedit quo ipsam nisi, corrupti voluptas in rem dignissimos harum magnam quam error suscipit quasi culpa delectus recusandae eligendi sit ut. Totam sequi quis expedita voluptate!
Molestias dignissimos sapiente delectus, praesentium pariatur iste. Totam laudantium dicta unde sit assumenda necessitatibus. Saepe iste quasi dolorem sint error illo aut praesentium quos quaerat accusantium! Minus consectetur ipsum incidunt.
Voluptate consequuntur aperiam cum, quae molestiae accusamus, modi expedita, repellendus ipsam neque optio aliquid. Nihil iure beatae a labore alias eveniet ipsum illo incidunt. Illo itaque corporis deserunt amet odit!
Doloremque minima, quam distinctio illum labore deserunt reiciendis maiores exercitationem debitis error nulla placeat accusantium eaque dolor a consequuntur adipisci impedit cum possimus? Commodi est labore pariatur iusto laborum id?
Officiis inventore possimus obcaecati ipsum rerum sit voluptatum corrupti doloremque blanditiis neque, ea adipisci nihil dolorum tenetur repellendus, autem veniam ipsam atque quam corporis laudantium eum amet. Rerum, maiores reiciendis!
Numquam dignissimos exercitationem corporis impedit velit quod quaerat! Quibusdam, repellat odit. Dolore eligendi quis maiores adipisci autem eum, temporibus laborum iure mollitia quo, vel in? Voluptates hic dolorum non tempore?
Sequi laborum autem ipsam delectus suscipit in illo velit voluptatem, ex corrupti? Excepturi, eligendi repellendus pariatur doloribus libero assumenda sunt soluta molestiae cum aspernatur eaque tempora iure repudiandae beatae incidunt!
Placeat magni, consectetur adipisci vel eius nihil expedita sed harum eos velit aut esse ratione iste sequi molestiae odit quo! Repellendus doloribus reiciendis ipsa nemo velit tempore, hic itaque blanditiis.
Doloribus modi recusandae cupiditate nisi provident totam suscipit! Odit, necessitatibus asperiores nemo dicta provident explicabo magni accusantium, repellat eligendi perferendis sapiente totam rerum vero. Voluptates, iste voluptatem. Corrupti, consequuntur repellat!
Molestiae atque laudantium at quae alias voluptates eaque maxime dolor ab nostrum esse quisquam veniam illum labore sapiente error vel itaque accusantium provident quidem cumque magnam, sunt officiis. Amet, repudiandae.
Ratione aliquid fuga modi culpa qui! Saepe, ducimus? Doloremque cum error accusamus inventore repellendus quisquam sed deleniti reiciendis ratione rem facere asperiores voluptates voluptas deserunt exercitationem, quos veritatis ducimus a!
Accusantium, earum neque cupiditate laborum adipisci itaque sapiente nihil harum saepe praesentium iusto quam deserunt, officia doloremque, ipsam modi commodi sit! Dolore enim fuga recusandae laboriosam maiores debitis eius. Suscipit!
Tenetur autem cum similique quod impedit harum, error perferendis molestias ea non et quia reiciendis officiis aliquid. Distinctio voluptates, explicabo nihil laborum, reiciendis repellat dolores, aliquid illo cum temporibus consequatur.
Aliquid neque dolores laborum laboriosam. Ipsa suscipit itaque distinctio natus aperiam quis nulla nemo magnam aut illo expedita animi, aspernatur provident hic necessitatibus maiores voluptates inventore culpa repudiandae, labore commodi!
Eligendi animi minus perferendis impedit ut delectus sint, a accusamus enim sit quos. Placeat illum, laboriosam perferendis maiores deserunt adipisci nihil cum voluptatem laudantium odit ducimus distinctio dolorem officiis hic.